<h1>Tous les cocktails</h1>

<%= link_to "Ajouter un cocktail", new_cocktail_path %>
<br>
<ul>
  <% @cocktails.each do |cocktail| %>
    <li>
      <%= cocktail.name %> |
      <%= link_to "Détails", cocktail_path(cocktail.id) %>
      <% if cocktail.photo? %>
        <%= cl_image_tag cocktail.photo.path, width: 50, height: 75, crop: :fill %>
      <% end %>
    </li>
  <% end %>
</ul>


<%#= cl_image_tag("cp9tkksldvflkkzyh6n1.jpg",
      width: 400, height: 300, crop: :fill) %>
