
<h1>Ajouter une dose dans votre cocktail</h1>

<h3>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description, hint: 'en cl' %>
    <%= f.association :ingredient, collection: Ingredient.all %>
    <%= f.button :submit %>
  <% end %>
</h3>
